<ion-content>
  <app-header [account]="account"></app-header>
  <main>

    <section class="actions-content">
      <app-button 
        label="Receber"
        expand="block"
        (onClick)="showReceiveModal()">
      </app-button>
      <app-button 
        label="Investir"
        expand="block"
        (onClick)="showInvestModal()">
      </app-button>
    </section>

    <h1>Minhas Transações</h1>

    <div class="card" *ngFor="let transaction of transactions;">
      <header class="card-header">
        <span class="card-title">R$ {{ transaction.value }}</span>
        <span class="card-subtitle">{{ transaction.type ? 'Adicionou' : 'Investiu' }} através do <strong>{{ transaction.from }}</strong></span>
      </header>
    </div>

    <h1>Produtos Contratados</h1>

    <div class="card" *ngFor="let product of products;">
      <header class="card-header">
        <span class="card-title">{{ product.name }}</span>
        <span class="card-subtitle">{{ product.company }}</span>
      </header>
      <footer class="card-footer">
        <span class="card-information">Investimento mínimo: </span>
        <span class="card-subtitle">R$ {{ product.monthlyPrice }}</span>
      </footer>
    </div>

 </main>
</ion-content>

<app-tabs></app-tabs>