<ion-content>
  <app-header></app-header>
  <main>

    <h1>SEUS BOLETOS</h1>

    <div class="card">
      <header class="card-header">
        <span class="card-title">R$ 20,00</span>
        <span class="card-subtitle">pago para Sabesp SA</span>
      </header>
    </div>

    <div class="card">
      <header class="card-header">
        <span class="card-title">R$ 40,00</span>
        <span class="card-subtitle">pago para Eletropaulo SA</span>
      </header>
    </div>


    <!--
    <div class="card">
      <header class="card-header">
        <span class="card-title">R$ 200,00</span>
        <span class="card-subtitle">Caixa Seguradora Brasil S.A</span>
        <span class="card-information">
          <svg-icon src="./assets/icon/pin-outline.svg" [svgStyle]="{ 'width.px':12 , 'fill':'#b5b5b5' }"></svg-icon>
          Rua da consolação, 2223, Apto 31...
        </span>
      </header>
      <footer class="card-footer">
        <span class="card-subtitle">R$ 20,00</span>
        <span class="card-information">10 min</span>
      </footer>
    </div>
    -->

 </main>
</ion-content>

<app-tabs></app-tabs>