<!--
<header class="header">
  <div class="header-content">
    <div>
      <span class="brand">R$ 200,00</span>
      <span class="sub-brand">SEU SALDO NO PREVPAY</span>
    </div>
    <div>
      <svg-icon src="./assets/icon/qr.svg" [svgStyle]="{ 'width.px':25, 'height.px':42 , 'fill':'#FFF' }"></svg-icon>
    </div>
  </div>
</header>
-->

<!---
<header class="header simple">
  <div class="header-content">
    <div>
      <span class="brand">WALLET</span>
    </div>
  </div>
</header>
-->

<header class="header profile">
  <div class="header-content">
    <div>
      <img src="https://avatars2.githubusercontent.com/u/11219999?s=460&v=4" class="avatar">
    </div>
    <div>
      <span class="brand">R$ {{ account?.currency }}</span>
      <span class="sub-brand">ESTE É SEU SALDO NO PREVPAY</span>
    </div>
  </div>
</header>

