<nav class="tabbar">
  <ul>
    <li (click)="goToHome()">
      <svg-icon src="./assets/icon/flag-outline.svg" [svgStyle]="{ 'width.px':25 , 'fill':'#717171' }"></svg-icon>
    </li>
    <li>
      <svg-icon src="./assets/icon/person-outline.svg" [svgStyle]="{ 'width.px':25 , 'fill':'#717171' }"></svg-icon>
    </li>
    <li class="main">
      <svg-icon src="./assets/icon/qr.svg" [svgStyle]="{ 'width.px':25 , 'height.px':25 ,'fill':'#FFF' }"></svg-icon>
    </li>
    <li (click)="goToProducts()">
      <svg-icon src="./assets/icon/credit-card-outline.svg" [svgStyle]="{ 'width.px':25 , 'fill':'#717171' }"></svg-icon>
    </li>
    <li>
      <svg-icon src="./assets/icon/message-circle-outline.svg" [svgStyle]="{ 'width.px':25 , 'fill':'#717171' }"></svg-icon>
    </li>
  </ul>
</nav>