.wrapper {
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  h3 {
    color: #038492;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.2;
    padding-top: 40px;
  }

  ion-slides {
    width: 100%;
    height: 100%;
    padding: 20px;

    ion-slide {
      width: 60%!important;
      padding: 10px;
    }
  }

  input {
    border: 0;
    border-bottom: 1px solid #000;
  }

  header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;

    button {
      font-size: 30px;
      font-weight: 100;
      background: none;
    }
  }

  footer {
    width: 100%;
    position: fixed;
    bottom: 10px;
    padding: 10px;

    app-button {
      width: 100%;
    }
  }

  .card {
    display: flex;
    width: 100%;
    margin: 20px 0;
    padding: 20px;
    background: #FFF;
    border-radius: 20px;
    box-shadow: 0 4px 16px rgba(0,0,0,.12);
    height: 120px;

    img {
      margin: auto;
    }
  }

}