<ion-content>
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide>
      <ion-grid>
        <ion-row>
          <ion-col>
            <img src="./assets/illustrations/welcome1.png" alt="">
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="textbox">
            <h1 class="slide-title">Olá, somos a PrevPay!</h1>
            <p class="slide-description">Somos uma nova forma de você construir seu futuro </p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>

    <ion-slide>
        <ion-grid>
          <ion-row>
            <ion-col>
              <img src="./assets/illustrations/pork.png" alt="">
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="textbox">
              <h1 class="slide-title">Cada gasto é guardado na sua previdência digital</h1>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-slide>

      <ion-slide>
        <ion-grid>
          <ion-row>
            <ion-col>
              <img src="./assets/illustrations/disc.png" alt="">
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="textbox">
              <h1 class="slide-title">Ou outros produtos de seguros</h1>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-slide>

      <ion-slide>
          <ion-grid>
            <ion-row>
              <ion-col>
                <img src="./assets/illustrations/start.png" alt="">
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="textbox">
                <h1 class="slide-title">Vamos começar essa jornada?</h1>
              </ion-col>
            </ion-row>

            <ion-row style="margin-top: 30px">
              <ion-col>
                <app-button 
                  label="Começar"
                  expand="block"
                  (onClick)="goToLogin()">
                </app-button>
              </ion-col>
            </ion-row>

          </ion-grid>
        </ion-slide>
  </ion-slides>
</ion-content>
