<section class="wrapper">

  <header>
    <button class="close-button" (click)="dismiss()">X</button>
  </header>

  <section class="content">
    <h1>Previdência Vida Toda</h1>
    <p>Você é o responsável por manter seu padrão de vida na aposentadoria e o quanto antes você começar a se preparar, melhor. Com aplicações mensais a partir de R$ 100, você cria uma reserva financeira para o seu futuro.
      Além disso, o plano de previdência Vida Toda é uma forma de realizar seus sonhos, como juntar dinheiro para abrir seu próprio negócio ou garantir recursos para a educação do seu filho no futuro. Você faz uma reserva financeira e pode optar, no final do tempo estipulado, por receber uma quantia de uma vez só ou como uma renda mensal.</p>

    <p>Investimento mínimo mensal: <strong>R$ 100,00</strong></p>
  </section>

  <app-button 
    label="CONTRATAR"
    expand="block"
    (click)="goToSuccess()">
  </app-button>

</section>
