ion-content {
  main {
    padding: 0;
  }
}

.map {
  width: 100%;
  height: 100%;
  position: static;
  background-color: rgb(229, 227, 223);
}

.fail-message-wrapper {
  width: 100%;
  height: 90%;
  padding: 100px 30px;
}

.content-header {
  width: 100%;
  height: 120px;
  padding: 20px;
  position: absolute;
  top: 0;
  left: 0;
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 70%);
}

h1{
  color: #06aa6c;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.2;
}

.mission-details {
  width: 100%;
  height: 200px;
}

.card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 150px;
  margin: 20px 0;
  padding: 15px;
  background: #FFF;
  border-radius: 20px;
  box-shadow: 0 4px 16px rgba(0,0,0,.12);

  .card-avatar {
    width: 100px;
    img {
      background: yellow;
      border-radius: 100%;
    }
  }

  .card-body {
    display: flex;
    flex-direction: column;
    padding-left: 20px;

    .card-title {
      color: #333;
      margin: 0;
      padding: 0 0 5px 0;
      font-size: 11px;
      font-weight: 700;
      line-height: 1.2;
      text-transform: uppercase;
    }

    .card-price {
      color: var(--ion-color-primary);
      margin: 0;
      padding: 5px 0;
      font-size: 18px;
      font-weight: 700;
      line-height: 1.2;
    }

    .card-information {
      color: #666;
      margin: 0;
      padding: 5px 0;
      font-size: 12px;
      font-weight: 300;
      line-height: 1.2;
    }

    .card-action {
      padding: 5px 0;
      button {
        width: 100%;
        border-radius: 30px;
        color: #fff;
        background: #555;
        text-transform: uppercase;
        padding: 5px;
      }
    }

  }

}
